.nav-link {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #ff4e00 !important;
}

.nav-icons svg {
  margin-right: 8px;
  vertical-align: middle;
}

.dropdown-menu {
  background-color: #000000 !important;
  border: 1px solid #ff4e00 !important;
  text-align: center !important;
}

.dropdown-item {
  color: #ffffff !important;
}

.dropdown-item:hover {
  background-color: #ff4e00 !important;
  color: #ffffff !important;
}

.nav-icons img {
  border: 2px solid #ff4e00 !important;
}
