.loginpage {
  display: flex;
  justify-content: space-between;
}

.loginleft,
.loginright {
  margin: 5vh 10vw;
  width: 30vw;
  color: white;
  text-align: center;
}

.loginright {
  background-color: white;
  border-radius: 10px;
}

.tabsform {
  margin: 2vh 2vw;
  color: #ff4e00;
  text-align: left;
  font-size: 1.1rem;
}

.formlog {
  height: 6vh;
  background-color: rgba(253, 126, 20, 0.38) !important;
}

.loginright ul li button {
  color: #ff4e00 !important;
  font-size: 1.1rem;
}

.loginright ul li button.active {
  background-color: #ff4e00 !important;
  color: white !important;
  border: #ff4e00;
}

.rs-text {
  color: black;
}

.rs-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.esqsenha {
  text-decoration: none;
  color: #ff4e00;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .loginleft {
    display: none;
  }

  .loginright {
    width: auto;
  }
}
